In [5]:
#Suraj - This cmd will result in displaying the word mentioned with in the parantheses.
print("this is my first python program")

this is my first python program

In [7]:
# while writing multiple lines of comments in a cell with, then use triple quote.
"""Abc
dec
gdf
gft
bgs
ty"""

'Abc\ndec\ngdf\ngft\nbgs\nty'

In [8]:
a = 10

In [11]:
a

10

In [12]:
b = 15
c = 13
d = 21

In [16]:
a * b + c - d

142

In [18]:
# This function is used to check the data type.
type(a)

int

In [21]:
e = "suraj"

In [22]:
type(e)

str

In [2]:
a = "suraj"
print(a)

suraj

In [3]:
# code it as a story.

In [6]:
# Data type - float

a = 1.5
b = 4.333

In [7]:
type(a)

float

In [8]:
# Data type - boolean
a = True
b = False

In [9]:
type(a)

bool

In [10]:
True + True + True + False + True

4

In [11]:
False - True + True

0

In [12]:
True

True

In [13]:
True + True

2

In [14]:
False + False

0

In [15]:
True + False

1

In [17]:
# Value of True = 1 & False = 0

In [19]:
False / True

0.0

In [23]:
# complex Number. "j" is the only notation to use imaginary number. Anything else, will give an error. 
n = 45 + 5j

In [22]:
type(n)

complex

In [24]:
n

(45+5j)

In [25]:
n.real

45.0

In [26]:
n.imag

5.0

In [29]:
str ("1" + "suraj")

'1suraj'

In [30]:
# string concatenation

In [31]:
"suraj " * 4

'suraj suraj suraj suraj '

In [33]:
# "suraj " * "suraj "  - error will come

In [38]:
a = int(input("type a number for a "))
b = int(input("type a number for b "))
c = int(input("type a number for c "))

o = int ((a + b) / c)

print(o)

name = " Suraj"

str(o) + name

type a number for a 1
type a number for b 2
type a number for c 3
1

'1 Suraj'

In [40]:
a = int(input("write a number below 35 - "))
if a < 35:
    print("The number is correctly entered")
else: 
    print("try again! ")

write a number below 35 - 45
try again!

In [1]:
salary = int(input("enter your salary - "))
if salary > 1000:
    print("buy a car")
elif salary > 500:
    print("go for bike")
elif salary > 100:
    print("I will not do anything")
else:
    print("go for saving")

enter your salary - 10000
buy a car

In [8]:
job = input("Are you Working? 'Yes' or 'No' ")
if job == "Yes":
    salary = int(input("What is your Salary? "))
    if salary > 50000:
        print("You have a good Salary. Take a Home. ")
    elif salary > 25000:
        print("You have an average package. Take a bike.")
    elif salary > 15000:
        print("Dont spend your money. ")
    else:
        print("Look for a better job. ")
elif job == "No":
    print("Do some courses and get hired. ")
else:
    print("Type 'Yes' or 'No' appropriately to the question. ")

Are you Working? 'Yes' or 'No' Yes
What is your Salary? 100
Look for a better job.

In [5]:
a = 15
b = 25

print(id(a))
print(id(b))

140734048643312
140734048643632

In [2]:
# id() - return the identity of an object.

In [3]:
a = int(input("Enter a number for a - "))
b = int(input("Enter a number for b - "))

if a == 10 and b == 20:
    print("This is a valid statement. ")
else:
    print("Enter a valid one. ")

Enter a number for a - 10
Enter a number for b - 20
This is a valid statement.

In [4]:
a == 15

False

In [5]:
a == 10

True

In [8]:
# task : 

# take input from your keyboard as a first name and last name and then try to validate of writing 
# multiple conditions by yourself.

In [9]:
first_name = input("Enter your first name - ")
last_name = input("Enter your last name - ")

if first_name == "G S M" and last_name == "Suraj":
    print("Correct Name")
else:
    print("Wrong Name")

Enter your first name - G S M
Enter your last name - Suraj
Correct Name

In [11]:
# while loop : 

# use a cmd "break" in order to stop the loop.

In [12]:
initial_speed = 0
final_speed = 100
count = 0
while initial_speed <= final_speed:
    print("speed")
    count = count + 1
    if count == 5:
        break

speed
speed
speed
speed
speed

In [13]:
i = 1
j = 5

while i < j:
    i = i + 1
    print("i < j ")

i < j
i < j
i < j
i < j

In [18]:
first_name = "G S M"
last_name = " Suraj"
count = 0
while first_name != last_name:
    print(first_name +  last_name)
    count = count + 1
    if count == 3:
        break

G S M Suraj
G S M Suraj
G S M Suraj

In [13]:
# string indexes

name = "my name is suraj"

name[5], name[3], name[4], name[8]

('m', 'n', 'a', 'i')

In [16]:
name[3:10]

'name is'

# in the below command '2' refers to step
name[3:18:2]

In [22]:
name[2:16:2]

' aei ua'

In [23]:
name[16:2:-2]

'jrss mn'

In [24]:
name[::-1]

'jarus si eman ym'

In [25]:
name[-6]

' '

In [26]:
name[1]

'y'

In [27]:
name[-1]

'j'

In [28]:
name[-2]

'a'

In [29]:
name = "my name is suraj"
name[-5]

's'

In [30]:
name[2:-5]

' name is '

In [31]:
name[3:-3]

'name is su'

In [32]:
name[3:-3:2]

'nm ss'

In [36]:
a = "21,22,23,24,22"
b = "32,33,33,35,36"

print(a)
print(b)

21,22,23,24,22
32,33,33,35,36

In [37]:
a[-6]

','

In [38]:
a[-14]

'2'

In [39]:
a[0]

'2'

In [40]:
a[0] == a[-14]

True

In [48]:
x = 7
for i in range(0, x):
    for j in range(0, i+1):
        print("+ " , end = " ")
    print("\r")

+
+  +
+  +  +
+  +  +  +
+  +  +  +  +
+  +  +  +  +  +
+  +  +  +  +  +  +

In [211]:
n = 5
for i in range(0, n):
    print("+ ", end = "  ")
    for j in range(2*i, -1, -1):
        print(" ", "  +")
    print('\n')

+       +


+       +
    +
    +


+       +
    +
    +
    +
    +


+       +
    +
    +
    +
    +
    +
    +


+       +
    +
    +
    +
    +
    +
    +
    +
    +

In [ ]:
list = [23, 21, 34, 35]
total = 0

for numbers in list:
    total += numbers
print(total)

In [1]:
print("test")

test

In [5]:
notes = 5
i = 1
while i < notes:
    print(i)
    i += 1
else: 
    while i >= notes:
        print(i)
        break

1
2
3
4
5

In [6]:
# Data Sets - List , Set , Tuples , Dictionary, String

In [7]:
s = "Suraj"
# s is the variable here

In [8]:
s[0]

'S'

In [13]:
name = (s[0], s[1], s[2], s[3], s[4])
print(name)

('S', 'u', 'r', 'a', 'j')

In [17]:
reverse_name = (s[-1], s[-2], s[-3], s[-4], s[-5])
print(reverse_name)

('j', 'a', 'r', 'u', 'S')

In [20]:
name_len = len("Suraj")
print(name_len)

5

In [21]:
s[-1]

'j'

In [22]:
s1 = "My name is Suraj"
s1[2:8]
# in this cmd , it will exclude the 8th index.

' name '

In [24]:
s1[3:9]
# in this cmd , it will exclude the 9th index.

'name i'

In [25]:
s1[1:10:1]
# here "1" represents the jump size / step size.

'y name is'

In [27]:
s1 = "My name is Suraj"
s1[1:10:2]
# here "2" represents the jump size / step size.

'ynm s'

In [43]:
len(s1)

16

In [44]:
s1[16:0:-1]

# to display the characters in reverse order.

'jaruS si eman y'

In [45]:
s1[16:0:-2]

'jrSs mny'

In [46]:
s1[::-1]

'jaruS si eman yM'

In [47]:
s1[2:-6]

' name is'

In [50]:
s1[-7]

's'

In [54]:
s1[15] == s1[-1]

True

In [55]:
s

'Suraj'

In [56]:
s[0]

'S'

In [69]:
for i in s1:
    print(i)
    if i == "u":
        print("Character 'U'")
else:
    print("\n This is an else condition.")
    
# i = local variable

M
y

n
a
m
e

i
s

S
u
Character 'U'
r
a
j

 This is an else condition.

In [70]:
for i in s1:
    print(i)
    if i == "u":
        print("Character 'U'")
    if i == "r":
        break
else:
    print("\n This is an else condition.")

M
y

n
a
m
e

i
s

S
u
Character 'U'
r

In [73]:
for i in s1:
    print(i)
    if i == "s":
        continue
    if i == "u":
        print("Character 'U'")
    
else:
    print("This is an else condition.")

M
y

n
a
m
e

i
s

S
u
Character 'U'
r
a
j
This is an else condition.

In [75]:
print("test")

test

In [76]:
print("test")

test

In [81]:
s = "ineuron"
ss = " "
for i in range(len(s)):
    if s[i] == "n":
        continue
    else:
        ss = ss + s[i]
print(ss)

 ieuro

In [118]:
l1 = ["Manas", 23456 , "ghfybs"]

In [124]:
type(l1)

list

In [120]:
l1 = []
type(l1)

list

In [125]:
L = ["Manas", "Suraj", [2,3,4,5,"fers"], "fgr"]
type(L)

list

In [126]:
L[1]

'Suraj'

In [127]:
L[0]

'Manas'

In [128]:
L[0][1]

'a'

In [129]:
L[0:5]

['Manas', 'Suraj', [2, 3, 4, 5, 'fers'], 'fgr']

In [136]:
n = 0

for i in L:
    if type(i) == int:
        n += i
    print(n)

0
0
0
0

In [139]:
for i in range(4, 9):
    print(i)

4
5
6
7
8

In [140]:
len(L)

4

In [143]:
for i in L:
    for j in range(len(L)):
        print("sxsxsx", end = " ")

sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx sxsxsx

In [145]:
n = (0, 1, 2, 3, 4)
j = 0
for i in n:
    j += i
    print(j)
else:
    print("Hello")

0
1
3
6
10
Hello

In [146]:
fruits = ["Apple" , "Banana", "Mango", "Grapes"]
type(fruits)

list

In [152]:
for fruit in fruits:

 Apple   AppleBanana   AppleBananaMango   AppleBananaMangoGrapes

In [6]:
print("Sur'\r'aj")

'aj

In [9]:
str2 = "master python"
str2[-1:4:-2]

'nhy '

In [17]:
num = 5
m = 2 * num -2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end = "  ")
    m = m+1
    for j in range(0, i+1):
        print("* ", end = "  ")
    print("  ")

                *   *   *   *   *   *
                  *   *   *   *   *
                    *   *   *   *
                      *   *   *
                        *   *
                          *

In [37]:
n = 5
m = 8
for i in range(n, -1, -1):
    for j in range(m, 0, -1):
        print(end = "  ")

In [77]:
num = 5
m = 2 * num -2
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end = "  ")
    m +=1
    for j in range(0, i+1):
        print(" ", end = " X ")
    print("  ")

                  X   X   X   X   X   X
                    X   X   X   X   X
                      X   X   X   X
                        X   X   X
                          X   X
                            X

In [69]:
num = 5
m = 8
for i in range(num, -1, -1):
    for j in range(m, 0, -1):
        print(end = " + ")
    print(" > ")

 +  +  +  +  +  +  +  +  >
 +  +  +  +  +  +  +  +  >
 +  +  +  +  +  +  +  +  >
 +  +  +  +  +  +  +  +  >
 +  +  +  +  +  +  +  +  >
 +  +  +  +  +  +  +  +  >

In [87]:
# Recorded Session - Working with Strings and Lists
s = "this is full stack class"
for i in s:
    print(i, end = '')

this is full stack class

In [89]:
l = ['abcd', 'der', 1234 , 'ghft', True]
type(l)

list

In [94]:
l[0] = 'suraj'
l

['suraj', 'der', 1234, 'ghft', True]

In [95]:
# String mutability(manipulation) is not allowed however the same for list is allowed.

# This is will be an error for string manipulation - TypeError: 'str' object does not support item assignment

In [98]:
s[1] = 'T'

TypeError: 'str' object does not support item assignment

In [100]:
"suraj" + "manas" + 1234

TypeError: can only concatenate str (not "int") to str

In [102]:
s = "Girija Shankar Maharaj Suraj"
s

'Girija Shankar Maharaj Suraj'

In [105]:
s.replace("Girija", "Suraj")

'Suraj Shankar Maharaj Suraj'

In [108]:
s[1] = "Suraj"

TypeError: 'str' object does not support item assignment

In [121]:
s.upper()

'GIRIJA GIRIJA SHANKAR SHANKAR MAHARAJ MAHARAJ SURAJ MANAS'

In [122]:
s = "Girija Girija Shankar Shankar Maharaj Maharaj Suraj Manas"
s.count("Manas")

1

In [3]:
s = 'Suraj\tMaharaj'
s

'Suraj\tMaharaj'

In [4]:
s.expandtabs()

'Suraj   Maharaj'

In [9]:
s ='We all are a part of Full Stack'

In [26]:
a= s.lower()
a

'we all are a part of full stack'

In [27]:
b = s.count('a')
b

5

In [25]:
for i in range(len(s)):
    if(s[i]=="a"):
        print(i)

3
7
11
14
28

In [28]:
d = s.replace('a', 'iNeuron')
d

'We iNeuronll iNeuronre iNeuron piNeuronrt of Full StiNeuronck'

In [40]:
e = s.split()
e

['We', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack']

In [86]:
s = "Manas"
s

'Manas'

In [63]:
s.isupper()

False

In [62]:
s.islower()

False

In [61]:
s.isspace()

True

In [67]:
s.isdigit()

True

In [71]:
s.endswith("j")

True

In [75]:
s.isalnum()

True

In [83]:
s.istitle()

False

In [84]:
s.startswith("M")

True

In [87]:
s.istitle()

True

In [88]:
s= "This is a full stack batch"
s

'This is a full stack batch'

In [94]:
count = 0
for i in s:
    count+=1
print(count)

26

In [101]:
for i in range (1, len (s)+1):
    print(s[-i], end = "")

hctab kcats lluf a si sihT

In [139]:
n = "iNeuron"
n_lower = n.lower()
v = "aeiou"
con = "bcdfghjklmnpqrstvwxyz"
for a in n_lower:
    for j in v:
        if a == j:
            print(a + " - vowel")
    for c in con:
        if a == c:
            print(a + "- consonant")

i - vowel
n- consonant
e - vowel
u - vowel
r- consonant
o - vowel
n- consonant

In [144]:
n = input("What is your name?")

v = "AaEeIiOoUu"

for i in n:
    if i in v:
        print(i + " is a vowel")
    elif i == " ":
        print(" ")
    else:
        print(i + " is not a vowel")

What is your name?Girija Shankar
G is not a vowel
i is a vowel
r is not a vowel
i is a vowel
j is not a vowel
a is a vowel

S is not a vowel
h is not a vowel
a is a vowel
n is not a vowel
k is not a vowel
a is a vowel
r is not a vowel

In [163]:
s1 = input("Provide a data to check its a pelindrome or not? - ")
s2 = s1[::-1]
if s1 == s2:
    print("Its a pelindrome")
else:
    print("Its not")

Provide a data to check its a pelindrome or not? - nitin
Its a pelindrome